<h1>Drug</h1>

<p> ID : <%= @drug.id %> </p>
<p> Name : <%= @drug.name.capitalize %> </p>
<p> Description : <%= @drug.description %> </p>
<p> Posology : <%= @drug.posology %> </p>

<%= link_to 'Back to drugs list'.html_safe, drugs_path %>
