<h1>User Profile</h1>
<p> username : <%= @user.username %> </p>
<p> firstname : <%= @user.firstname %> </p>
<p> lastname : <%= @user.lastname %> </p>
<p> email : <%= @user.email %> </p>

<p> <%= link_to "Edit", edit_user_registration_path %> </p>
